<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button href="https://aws-amplify.github.io/" target="_blank">
        <img class="toolbar-logo" src="assets/amplify.png" alt="Amplify Logo" />
      </ion-button>
    </ion-buttons>
    <ion-title>Label Entities</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <input #filepicker type="file" (change)="onChoose($event)" accept="image/*" class="custom-file-input">

    <div>
      <canvas id="imgLabelsCanvas">
        <img id="imgLabels" [src]="photo" alt="Predictions Detect Entities"/>
      </canvas>
      <ion-list>
        <ion-item *ngFor="let label of entities">
          <ion-label [class.confident]="label.metadata.confidence > 50" [ngStyle]="{'color': label.color}">
            {{label.name}}
            <ion-progress-bar [value]="label.metadata.confidence/100"></ion-progress-bar>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>

    <h1 style="text-align:center;font-size:250%;opacity:0.2;" *ngIf="!photo">
      Click below to select or take a photo <br/>
      <ion-icon name="arrow-round-down" style="font-size:128px;"></ion-icon>
    </h1>

</ion-content>

<ion-footer>
    <p style="opacity:0.3;text-align: center;">Label real world objects</p>
    <ion-button (click)="filepicker.click()" size="large" expand="full">Take or Choose a Photo</ion-button>
</ion-footer>
