<ion-header>
  <ion-toolbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>
      <ion-list-header>Translation Settings</ion-list-header>
    
      <ion-item>
        <ion-label>Source Language</ion-label>
        <ion-select placeholder="Select One" (ionChange)="selectSource($event)" [value]="defaultSource">
          <ion-select-option value="ar">Arabic	</ion-select-option>
          <ion-select-option value="zh">Chinese (Simplified)</ion-select-option>
          <ion-select-option value="zh-TW">Chinese (Traditional)	</ion-select-option>
          <ion-select-option value="cs">Czech	</ion-select-option>
          <ion-select-option value="da">Danish	</ion-select-option>
          <ion-select-option value="nl">Dutch	</ion-select-option>
          <ion-select-option value="en">English</ion-select-option>
          <ion-select-option value="fi">Finnish	</ion-select-option>
          <ion-select-option value="fr">French	</ion-select-option>
          <ion-select-option value="de">German</ion-select-option>
          <ion-select-option value="he">Hebrew	</ion-select-option>
          <ion-select-option value="hi">Hindi	</ion-select-option>
          <ion-select-option value="id">Indonesian	</ion-select-option>
          <ion-select-option value="it">Italian	</ion-select-option>
          <ion-select-option value="ja">Japanese	</ion-select-option>
          <ion-select-option value="ko">Korean	</ion-select-option>
          <ion-select-option value="ms">Malay	</ion-select-option>
          <ion-select-option value="no">Norweigen</ion-select-option>
          <ion-select-option value="fa">Persian	</ion-select-option>
          <ion-select-option value="pl">Polish	</ion-select-option>
          <ion-select-option value="pt">Portuguese	</ion-select-option>
          <ion-select-option value="ru">Russian	</ion-select-option>
          <ion-select-option value="es">Spanish	</ion-select-option>
          <ion-select-option value="sv">Swedish	</ion-select-option>
          <ion-select-option value="tr">Turkish	</ion-select-option>
        </ion-select>
      </ion-item>
    
      <ion-item>
        <ion-label>Target Language</ion-label>
        <ion-select placeholder="Select One" (ionChange)="selectTarget($event)" [value]="defaultTarget">
          <ion-select-option value="ar">Arabic	</ion-select-option>
          <ion-select-option value="zh">Chinese (Simplified)</ion-select-option>
          <ion-select-option value="zh-TW">Chinese (Traditional)	</ion-select-option>
          <ion-select-option value="cs">Czech	</ion-select-option>
          <ion-select-option value="da">Danish	</ion-select-option>
          <ion-select-option value="nl">Dutch	</ion-select-option>
          <ion-select-option value="en">English</ion-select-option>
          <ion-select-option value="fi">Finnish	</ion-select-option>
          <ion-select-option value="fr">French	</ion-select-option>
          <ion-select-option value="de">German</ion-select-option>
          <ion-select-option value="he">Hebrew	</ion-select-option>
          <ion-select-option value="hi">Hindi	</ion-select-option>
          <ion-select-option value="id">Indonesian	</ion-select-option>
          <ion-select-option value="it">Italian	</ion-select-option>
          <ion-select-option value="ja">Japanese	</ion-select-option>
          <ion-select-option value="ko">Korean	</ion-select-option>
          <ion-select-option value="ms">Malay	</ion-select-option>
          <ion-select-option value="no">Norweigen</ion-select-option>
          <ion-select-option value="fa">Persian	</ion-select-option>
          <ion-select-option value="pl">Polish	</ion-select-option>
          <ion-select-option value="pt">Portuguese	</ion-select-option>
          <ion-select-option value="ru">Russian	</ion-select-option>
          <ion-select-option value="es">Spanish	</ion-select-option>
          <ion-select-option value="sv">Swedish	</ion-select-option>
          <ion-select-option value="tr">Turkish	</ion-select-option>
        </ion-select>
      </ion-item>
    
    </ion-list>

</ion-content>
