<ion-header>
  <ion-toolbar>
    <ion-title>
      Translate
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <input #filepicker type="file" (change)="onChoose($event)" accept="image/*" class="custom-file-input">

    <ion-card *ngIf="photo">
      <img [src]="photo" alt="" />
      <ion-card-content>
        <textarea #textArea rows="3" (click)="copyText(textArea)">{{translatedText}}</textarea>
      </ion-card-content>
    </ion-card>

    <h1 style="text-align:center;margin-top:40%;font-size:250%;opacity:0.2;" *ngIf="!photo">
      Click below to select or take a photo <br/>
      <ion-icon name="arrow-round-down" style="font-size:128px;"></ion-icon>
    </h1>

</ion-content>

<ion-footer>
    <p style="opacity:0.3;text-align: center;"> {{sourceLang}} <ion-icon name="arrow-round-forward"></ion-icon> {{targetLang}} </p>
    <ion-button (click)="filepicker.click()" size="large" expand="full">Take or Choose a Photo</ion-button>
</ion-footer>