<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <a href="https://aws-amplify.github.io/" target="_blank">
        <img class="toolbar-logo" src="assets/amplify.png" alt="Amplify" />
      </a>
    </ion-buttons>
    <ion-title>Translate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div>
      <canvas id="imgTranslateCanvas">
          <img id="imgTranslate" [src]="photo" alt="Predictions Translate" />
      </canvas>
      <ion-list>
        <ion-item-sliding *ngFor="let entity of entities">
          <ion-item>
            <ion-label [ngStyle]="{'color': entity.color}">
              {{entity.translatedText}}
            </ion-label>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option (click)="generateTextToSpeech(entity.text)">Speak</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>
    
    <input #filepicker type="file" (change)="onChoose($event)" accept="image/*" class="custom-file-input">

    <h1 style="text-align:center;font-size:250%;opacity:0.2;" *ngIf="!photo">
      Click below to select or take a photo <br/>
      <ion-icon name="arrow-round-down" style="font-size:128px;"></ion-icon>
    </h1>

</ion-content>

<ion-footer>
    <p style="opacity:0.3;text-align: center;"> {{sourceLang}} <ion-icon name="arrow-round-forward"></ion-icon> {{targetLang}} </p>
    <ion-button (click)="filepicker.click()" size="large" expand="full">Take or Choose a Photo</ion-button>
</ion-footer>